---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Do It Yourself !!"
---
<style>
  li {padding-bottom: 2px;}
  .publish_date {color: rgb(138, 145, 151); font-size: 14px; margin-bottom: 20px;}
  h3 {padding-top: 20px;}
</style>
<BaseLayout pageTitle={pageTitle}>
  <main>
    <div class="publish_date">最終更新日 : 2022/11/04</div>
    <p>個人サイトを自分で作ってみよう！という趣旨のページです。</p>
    <p>面倒な環境構築などは必要ありませんので、気軽にお試し頂けたらと思います。</p>
    <p>こういう方におすすめです。</p>
    <ul>
      <li>
        個人サイトを持ってみたい
      </li>
      <li>
        プログラミングをやってみたい
      </li>
    </ul>
    <h3>使用するもの</h3>
    <p>（個人サイトを公開するくらいの範囲では）全て無料で利用できます。</p>
    <ul>
      <li>
        <a href="https://github.co.jp/" target="_blank" rel="noopener noreferrer">GitHub</a>
      </li>
      <ul>
        <li>
          コードを置く場所
        </li>
      </ul>
      <li>
        <a href="https://stackblitz.com/" target="_blank" rel="noopener noreferrer">StackBlitz</a>
      </li>
      <ul>
        <li>
          ブラウザで動かせる開発環境
        </li>
      </ul>
      <li>
        <a href="https://astro.build/" target="_blank" rel="noopener noreferrer">Astro</a>
      </li>
      <ul>
        <li>
          Webサイト作成ツール
        </li>
      </ul>
      <li>
        <a href="https://vercel.com/" target="_blank" rel="noopener noreferrer">Vercel</a>
      </li>
      <ul>
        <li>
          Webサイトを公開できるサービス
        </li>
      </ul>
    </ul>
    <h3>分からないところがあったら</h3>
    <p>ページごとにコメント欄を設置しているので、お気軽に投稿ください。</p>
    <p>(コメントを投稿するには GitHub のアカウントが必要です)</p>
    <p>また誤字脱字、間違っている記述などを発見した際もコメントいただけますと幸いです。</p>
  </main>
</BaseLayout>
