---
---

<footer>
  Created by <a href="https://twitter.com/n1sym" target="_blank" rel="noopener noreferrer" class="footerlink">n1sym</a>
  <br>
  Inspired by <a href="https://diy-anime.com/" target="_blank" rel="noopener noreferrer" class="footerlink">https://diy-anime.com/</a>
</footer>
<style>
	footer {
		padding: 20px;
		text-align: center;
    font-size: 14px;
    color: rgb(164, 165, 167)
	}
  .footerlink {
    color: rgb(164, 165, 167);
  }
</style>