---
---
<style>
  ul {padding-left: 20px;}
  li {padding-bottom: 2px;}
</style>
<h2>目次</h2>
<ul>
  <li>
    <a href="/">はじめに</a>
  </li>
  <li>
    <a href="/posts/post-0">GitHub のアカウントを作成する</a>
  </li>
  <li>
    <a href="/posts/post-1">簡単なサイトを公開してみる</a>
  </li>
</ul>