---
const allPosts = await Astro.glob('../pages/posts/*.md');
---
<style>
  ul {padding-left: 20px;}
  li {padding-bottom: 4px;}
</style>
<h2>目次</h2>
<ul>
  <li>
    <a href="/">はじめに</a>
  </li>
  {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
</ul>