---
const { pageTitle } = Astro.props;
import Sidebar from "../components/Sidebar.astro"
import Footer from '../components/Footer.astro';
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style>
      .app {
        display: flex;
        flex-direction: row;
      }
      .sidebar {
        flex: 1;
        margin-right: 30px;
      }
      .sticky {
        position: sticky;
        top: 26px;
      }
      .main-column {
        flex: 3;
        margin-left: 36px;
        margin-right: 16px;
        padding-right: 8px;
        padding-left: 8px;
        min-width: 0;
      }
      @media screen and (max-width: 900px) {
        .app {
          display: flex;
          flex-direction: column;
        }
        .sidebar {
          order: 2;
          padding-left: 20px;
        }
        .main-column {
          margin-left: 8px;
          margin-right: 8px;
          order: 1;
        }
      } 
    </style>
  </head>
  <body>
    <div class="app">
      <aside class="sidebar">
        <div class="sticky">
          <Sidebar />
        </div>
        
      </aside>
      <aside class="main-column">
        <h1>{pageTitle}</h1>
        <slot />
        <br />
        <hr />
        <br />
        <script
          src="https://utteranc.es/client.js"
          repo="n1sym/do-it-yourself"
          issue-term="pathname"
          theme="preferred-color-scheme"
          crossorigin="anonymous"
          async
        ></script>
        
      </aside>
      
    </div>
    <Footer />
  </body>
</html>
